{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div id="homepageImg"
         class="homepage background w-100 flex-column justify-content-between align-items-center p-2 {% if tricksPage != null %}display-none{% else %}display-flex{% endif %}">
        <div></div>
        <div class="catchPhrase">
            <p class="h1">
                Dévalez les pentes avec style grâce à notre site de figures de snowboard : explorez,
                apprenez et inspirez-vous pour des descentes exceptionnelles !
            </p>
        </div>
        {# TODO:Changer la flèche de coté à la fin #}
        <div class="w-100 d-flex">
            <span id="arrowDownward" class="material-symbols-outlined">arrow_downward</span>
        </div>

    </div>

    <div id="homepageTricks"
         class="homepage background w-100 flex-column justify-content-between align-items-center p-2 {% if tricksPage != null %}display-flex{% else %}display-none{% endif %}">

        <div id="listTricks" class="row">
            {% for key, trick in tricks %}
                <div class="col-2 mt-3 mx-4">
                    <div class="h-75">
                        <img class="w-100 h-100"
                                {% if trick.images.values[0] is defined %}
                                    src="/img/Tricks/{{ trick.slug }}/{{ trick.images.values[0].name }}.{{ trick.images.values[0].type }}"
                                {% else %}
                                    src="/img/noImg.png"
                                {% endif %}
                        >
                    </div>
                    <div class="border d-flex flex-row justify-content-between align-items-center h-25 bg-white">
                        <p class="m-2"><a
                                    href="{{ path('tricksDetails', {'slug': trick.slug}) }}">{{ trick.name }}</a>
                        </p>
                        <p class="m-2">
                            {% if app.user %}
                                <span class="material-symbols-outlined">edit</span>
                                <span class="material-symbols-outlined">delete</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <button class="btn btn-primary">Charger plus de tricks</button>
            <a href="{{ path('tricksAdd') }}">
                <button class="btn btn-primary">Ajouter un tricks</button>
            </a>
        </div>
        {# TODO:Changer la flèche de coté à la fin #}
        <div class="w-100 d-flex">
            <span id="arrowUpward" class="material-symbols-outlined">arrow_upward</span>
        </div>

    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script>

        $("#arrowDownward").click(function () {
            $("#homepageImg").slideUp("slow");
            $("#homepageTricks").slideDown({
                start: function () {
                    $(this).css({
                        display: "flex"
                    })
                }
            });
            $("#pageTitle").html('Tricks');
        });

        $("#arrowUpward").click(function () {
            $("#homepageImg").slideDown({
                start: function () {
                    $(this).css({
                        display: "flex"
                    })
                }
            });
            $("#homepageTricks").slideUp("slow");
            $("#pageTitle").html('Accueil');
        });
    </script>
{% endblock %}