{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div class="background fullpage d-flex justify-content-center align-items-center">
        <div class="card p-4 w-25">
            {{ form_start(form, {'attr': {'id': 'form_signResetPassword'}}) }}
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, { 'attr': { 'class' : 'form-control mb-3 mt-1' } }) }}
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, { 'attr': { 'class' : 'form-control mb-3 mt-1' } }) }}
            {{ form_errors(form.password.first) }}
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-primary mt-3' } }) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}