{% extends 'layout/menu.html.twig' %}

{% block main %}
{#
    {{ form_start(form) }}
    {{ form_label(form.login) }}
    {{ form_widget(form.login, { 'attr': { 'class' : 'form-control' } }) }}
    {{ form_label(form.mail) }}
    {{ form_widget(form.mail, { 'attr': { 'class' : 'form-control' } }) }}
    {{ form_label(form.password) }}
    {{ form_widget(form.password, { 'attr': { 'class' : 'form-control' } }) }}
    {{ form_end(form) }}
#}
    <div class="wallpaperConstruct"></div>

{% endblock %}