{% extends 'base.html.twig' %}

{% block header %}

    <div class="p-2 d-flex flex-row justify-content-between w-100 h-100">
        <div class="d-flex flex-row align-items-center">
            <img src="/img/logo.png" height="100%">
            <h1 id="pageTitle" class="ms-4">{{ title }}</h1>
        </div>
        <div class="d-flex align-items-center">
            <ul class="m-0">
                <li class="px-2 menu"><a href="{{ path('index') }}">Accueil</a></li>
                <li class="px-2 menu"><a href="{{ path('index', {'tricksPage': 'tricks'}) }}">Tricks</a></li>
                <li class="px-2 menu"><a href="{{ path('signUp') }}">Inscription</a></li>
                <li class="px-2 menu"><a href="{{ path('signIn') }}">Connexion</a></li>
            </ul>
        </div>
    </div>

{% endblock %}