{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div class="background d-flex justify-content-center align-items-center">
        <div class="col-6 card p-4 w-25 m-4">
            {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': { 'class' : 'form-control mb-3 mt-1' } }) }}
            {{ form_errors(form.name) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description, { 'attr': { 'class' : 'form-control mb-3 mt-1' } }) }}
            {{ form_errors(form.description) }}
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr': { 'class' : 'form-control mb-3 mt-1' } }) }}
            {{ form_errors(form.category) }}
            <div id="image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                {{ form_row(form.images) }}
                <button class="btn btn-secondary" id="add-image">Ajouter une ligne</button>
            </div>
            <div id="video" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {{ form_row(form.videos) }}
                <button class="btn btn-secondary" id="add-video">Ajouter une ligne</button>
            </div>
            <p id="imgError"></p>
            <p id="imgExt" class="text-error d-none">Les extensions acceptées sont : png, jpg, jpeg, webp, avif et svg</p>
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-primary mt-3' } }) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function () {

            {# IMAGE #}

            var imageContainer = $('div#image');
            var countImage = imageContainer.children().length;

            $('button#add-image').click(function (e) {
                addImage(imageContainer);

                $('input[type="checkbox"]').on('change', function() {
                    if ($(this).is(':checked')) {
                        $('input[type="checkbox"]').not(this).prop('checked', false);
                    }
                });

                e.preventDefault();
            });

            imageContainer.on('click', 'button.delete-image', function (e) {
                var id = $(this).attr('id')
                deleteImage(id.replace('deleteImage', ''));
                e.preventDefault();
            });

            function addImage(imageContainer) {
                var prototype = imageContainer.data('prototype');
                var newForm = prototype.replace(/__name__/g, countImage);
                var newImage = $(newForm);
                addDeleteImageButton(newImage);
                imageContainer.append(newImage);
                countImage++;
            }

            function addDeleteImageButton(image) {
                var deleteButton = $('<button id="deleteImage' + countImage + '" class="delete-image btn btn-danger">Supprimer</button>');
                image.append(deleteButton);
            }

            function deleteImage(number) {
                var image = $('#add_tricks_images_' + number);
                image.remove();
            }

            {# VIDEO #}

            var videoContainer = $('div#video');
            var countVideo = videoContainer.children().length;

            $('button#add-video').click(function (e) {
                addVideo(videoContainer);
                e.preventDefault();
            });

            videoContainer.on('click', 'button.delete-video', function (e) {
                var id = $(this).attr('id')
                deleteVideo(id.replace('deleteVideo', ''));
                e.preventDefault();
            });

            function addVideo(videoContainer) {
                var prototype = videoContainer.data('prototype');
                var newForm = prototype.replace(/__name__/g, countVideo);
                var newVideo = $(newForm);
                addDeleteVideoButton(newVideo);
                videoContainer.append(newVideo);
                countVideo++;
            }

            function addDeleteVideoButton(video) {
                var deleteButton = $('<button id="deleteVideo' + countVideo + '" class="delete-video btn btn-danger">Supprimer</button>');
                video.append(deleteButton);
            }

            function deleteVideo(number) {
                var video = $('#add_tricks_videos_' + number);
                video.remove();
            }
        });
    </script>

{% endblock %}