{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div class="background d-flex justify-content-center">
        <div class="col-6 card m-4">
            <div class="card-header">
                <h2>{{ trick.name }} ({{ trick.category.name }})</h2>
                <small>Fiche créer le {{ trick.createdAt|dateH }}
                    par {{ trick.user.login }}</small>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center flex-column mb-4">
                    <div id="imgPrincipale">
                        <img id="selectMedia"
                                {% if trick.images.values[0] is defined %}
                                    src="/img/Tricks/{{ trick.slug }}/{{ trick.images.values[0].name }}.{{ trick.images.values[0].type }}"
                                {% else %}
                                    src="/img/noImg.png"
                                {% endif %}
                        >
                    </div>
                    <div id="galery" class="d-flex flex-row mt-2 mx-2 w-100">
                        {% for image in trick.images %}
                            <img class="w-25"
                                 src="/img/Tricks/{{ trick.slug }}/{{ image.name }}.{{ image.type }}"
                                 onclick="changeImg('/img/Tricks/{{ trick.slug }}/{{ image.name }}.{{ image.type }}')">
                        {% endfor %}
                        {% for video in trick.videos %}
                            <img class="w-25" onclick="loadEmbed('{{ video.link }}')"
                            {% if 'youtube' in video.link %}
                                src="http://i1.ytimg.com/vi/{{ video.link|replace({'https://www.youtube.com/embed/' : ''}) }}/default.jpg"
                            {% elseif 'dailymotion' in video.link %}
                                src="https://www.dailymotion.com/thumbnail/160x120/video/{{ video.link|replace({'https://www.dailymotion.com/embed/video/' : ''}) }}"
                            {% endif %}
                                 alt="miniature"/>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <p class="h3">Description :</p>
                        {{ trick.description }}
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <p class="h3">Commentaire :</p>
                        <img src="/img/construct.jpg" class="w-50">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}

    <script>

        function changeImg(url) {
            $('#imgPrincipale').html('<img id="selectMedia" src="' + url + '">');
        }

        function loadEmbed(url) {
            $('#imgPrincipale').html('<iframe id="selectMedia" src="' + url + '"></iframe>')
        }

    </script>

{% endblock %}
