{% extends 'layout/menu.html.twig' %}

{% block main %}

    <div class="background d-flex justify-content-center">
        <div class="col-6 card m-4">
            <div class="card-header col-12 d-flex flex-row">
                <div class="col-8">
                    <h2>{{ trick.name }} ({{ trick.category.name }})</h2>
                    {% if lastEdit %}
                        <small>Fiche modifier le {{ lastEdit.updatedAt|dateH }}
                            par {{ lastEdit.updatedBy.login }}</small>
                    {% else %}
                        <small>Fiche créer le {{ trick.createdAt|dateH }}
                            par {{ trick.user.login }}</small>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end align-items-center col-4">
                    {% if app.user %}
                        <a class="text-decoration-none text-dark d-flex align-items-center"
                           href="{{ path('tricksEdit', {'slug': trick.slug}) }}"><span
                                    class="material-symbols-outlined cursor-click">edit</span></a>
                        <span onclick="deleteTricks('{{ trick.name }}', '{{ path('tricksDelete', {'slug': trick.slug}) }}')"
                              class="material-symbols-outlined cursor-click">delete</span>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center flex-column mb-4">
                    <div id="imgPrincipale">
                        <img id="selectMedia"
                                {% if mainImage != null %}
                                    src="/img/Tricks/{{ trick.slug }}/{{ mainImage.name }}.{{ mainImage.type }}"
                                {% else %}
                                    src="/img/noImg.png"
                                {% endif %}
                        >
                    </div>
                    <div id="gallery" class="d-flex flex-row mt-2 mx-2 w-100">
                        {% for image in trick.images %}
                            <img class="w-25"
                                 src="/img/Tricks/{{ trick.slug }}/{{ image.name }}.{{ image.type }}"
                                 onclick="changeImg('/img/Tricks/{{ trick.slug }}/{{ image.name }}.{{ image.type }}')">
                        {% endfor %}
                        {% for video in trick.videos %}
                            <img class="w-25" onclick="loadEmbed('{{ video.link }}')"
                                    {% if 'youtube' in video.link %}
                                        src="http://i1.ytimg.com/vi/{{ video.link|replace({'https://www.youtube.com/embed/' : ''}) }}/default.jpg"
                                    {% elseif 'dailymotion' in video.link %}
                                        src="https://www.dailymotion.com/thumbnail/160x120/video/{{ video.link|replace({'https://www.dailymotion.com/embed/video/' : ''}) }}"
                                    {% endif %}
                                 alt="miniature"/>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <p class="h3">Description :</p>
                        {{ trick.description }}
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <p class="h3">Commentaire :</p>
                        {% if app.user %}

                            {{ form_start(form) }}

                        {% else %}

                            {{ form_start(form, { 'attr': {'class': 'd-none'} }) }}

                        {% endif %}

                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}

                        {{ form_end(form) }}

                        <div id="listComment" data-id="1">
                        </div>
                        <div id="loadSpin" class="card-body py-1 py-lg-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                            <button id="showMoreButton" class="btn btn-primary" data-number="">Voir plus de commentaire</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}

    <script>

        $(document).ready(function() {
            CommentList(1,10);
        });

        function changeImg(url) {
            $('#imgPrincipale').html('<img id="selectMedia" src="' + url + '">');
        }

        function loadEmbed(url) {
            $('#imgPrincipale').html('<iframe id="selectMedia" src="' + url + '"></iframe>')
        }

        function deleteTricks(name, url) {

            if (confirm("Voulez-vous vraiment supprimer le trick : " + name + " ?")) {
                window.location.href = url;
            }

        }

        function textAreaAdjust(element) {
            element.style.height = 'auto';
            if (element.scrollHeight + 2 > 25) {
                element.style.height = (element.scrollHeight + 2) + "px";
            }
        }

        function CommentList(start, number) {
            $('#loadSpin').removeClass('d-none');
            $('#showMoreButton').addClass('d-none');
            $.ajax({
                url: '{{ path('commentList', {'slug': slug}) }}',
                method: "POST",
                data: {
                    'start': start,
                    'number': number,
                },
                success: function (data) {
                    $("#listComment").append(data);
                    $('#loadSpin').addClass('d-none');
                    $('#showMoreButton').removeClass('d-none').attr('data-number', parseInt(start) + parseInt(number));
                }
            });
        }

        $('#showMoreButton').on('click', function () {
            let start = $('#showMoreButton').attr('data-number');
            CommentList(start, 5)
        });


    </script>

{% endblock %}
