{% for trick in tricks %}
    <div class="col-2 mt-3 mx-4">
        <div class="h-75">
            <img class="w-100 h-100"
                    {% for image in trick.images %}
                        {% if image.main != null %}
                            src="/img/Tricks/{{ trick.slug }}/{{ image.name }}.{{ image.type }}"
                        {% endif %}
                    {% else %}
                        src="/img/noImg.png"
                    {% endfor %}
            >
        </div>
        <div class="border d-flex flex-row justify-content-between align-items-center h-25 bg-white">
            <p class="m-2"><a
                        href="{{ path('tricksDetails', {'slug': trick.slug}) }}">{{ trick.name }}</a>
            </p>
            <p class="m-2 flex-row justify-content-end align-items-center">
                {% if app.user %}
                    <a class="text-decoration-none text-dark d-flex align-items-center"
                       href="{{ path('tricksEdit', {'slug': trick.slug}) }}"><span
                                class="material-symbols-outlined cursor-click">edit</span></a>
                    <span onclick="deleteTricks('{{ trick.name }}', '{{ path('tricksDelete', {'slug': trick.slug}) }}')"
                          class="material-symbols-outlined cursor-click">delete</span>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}